In [1]:
import pandas as pd

In [23]:
data_health = pd.io.stata.read_stata('Healthw15.dta')
data_health.to_csv('healthwave15.csv')

data_social = pd.io.stata.read_stata('socialILw15.dta')
data_social.to_csv('socialwave15.csv')

In [24]:
dhealth = pd.read_csv('healthwave15.csv')
dsocial = pd.read_csv('socialwave15.csv')

In [38]:
dhealth.shape

(5832, 210)

In [39]:
dsocial.shape

(5884, 438)

In [26]:
dsocial.tail()

,Unnamed: 0,nomem_encr,cs22o_m,cs22o001,cs22o003,cs22o004,cs22o005,cs22o006,cs22o007,cs22o008,...,cs22o410,cs22o411,cs22o412,cs22o413,cs22o414,cs22o375,cs22o376,cs22o377,cs22o378,cs22o415
5879,5879,899794.0,202210.0,8.0,No,No,No,Yes,No,No,...,2.0,4.0,4.0,5 certainly yes,5 certainly yes,12-10-2022,19:18:48,12-10-2022,19:50:19,1891.0
5880,5880,899891.0,202210.0,7.0,No,No,Yes,Yes,No,Yes,...,1 certainly not,4.0,4.0,3.0,3.0,06-10-2022,15:01:30,06-10-2022,15:24:11,1361.0
5881,5881,899908.0,202210.0,2.0,No,No,No,Yes,No,Yes,...,2.0,4.0,4.0,3.0,3.0,17-10-2022,13:38:10,17-10-2022,13:52:05,835.0
5882,5882,899923.0,202210.0,7.0,No,No,No,Yes,No,No,...,5 certainly yes,4.0,2.0,2.0,2.0,31-10-2022,14:06:18,31-10-2022,14:16:09,591.0
5883,5883,899928.0,202210.0,8.0,Yes,No,No,No,No,No,...,4.0,3.0,3.0,4.0,4.0,23-10-2022,14:07:49,23-10-2022,14:45:11,2242.0

In [27]:
dhealth.tail()

,Unnamed: 0,nomem_encr,ch22o_m,ch22o001,ch22o002,ch22o003,ch22o004,ch22o005,ch22o006,ch22o007,...,ch22o250,ch22o251,ch22o252,ch22o253,ch22o254,ch22o255,ch22o256,ch22o257,ch22o258,ch22o259
5827,5827,899794.0,202211.0,female,64.0,has paid job,good,the same,6.0,6.0,...,2.0,4.0,4.0,4.0,4.0,07-11-2022,21:06:38,07-11-2022,21:16:57,619.0
5828,5828,899891.0,202211.0,female,31.0,has paid job,good,somewhat better,8.0,8.0,...,certainly not,4.0,3.0,3.0,3.0,29-11-2022,09:22:55,29-11-2022,09:31:23,508.0
5829,5829,899908.0,202211.0,male,18.0,has no paid job,very good,somewhat poorer,8.0,7.0,...,3.0,4.0,2.0,3.0,3.0,10-11-2022,03:13:19,10-11-2022,03:19:56,397.0
5830,5830,899923.0,202212.0,male,59.0,has paid job,good,somewhat better,5.0,5.0,...,NaN,NaN,NaN,NaN,NaN,16-12-2022,15:33:02,,,NaN
5831,5831,899928.0,202211.0,female,77.0,has paid job,good,the same,NaN,NaN,...,2.0,4.0,4.0,4.0,4.0,29-11-2022,19:22:09,29-11-2022,19:31:52,583.0

In [29]:
new_df = dsocial.head(5)
new_df = new_df.append(dsocial.tail(5))
new_df

C:\Users\Mifa\AppData\Local\Temp\ipykernel_12396\2081553521.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_df = new_df.append(dsocial.tail(5))

,Unnamed: 0,nomem_encr,cs22o_m,cs22o001,cs22o003,cs22o004,cs22o005,cs22o006,cs22o007,cs22o008,...,cs22o410,cs22o411,cs22o412,cs22o413,cs22o414,cs22o375,cs22o376,cs22o377,cs22o378,cs22o415
0,0,800001.0,202210.0,8.0,No,No,No,Yes,No,No,...,2.0,4.0,3.0,3.0,3.0,17-10-2022,17:35:32,17-10-2022,19:49:57,8065.0
1,1,800002.0,202210.0,7.0,Yes,No,No,No,No,No,...,2.0,4.0,3.0,4.0,3.0,16-10-2022,21:32:17,23-10-2022,16:08:48,585391.0
2,2,800009.0,202210.0,completely satisfied,No,No,No,No,Yes,No,...,2.0,4.0,2.0,4.0,4.0,24-10-2022,17:45:11,25-10-2022,17:31:01,85550.0
3,3,800015.0,202210.0,4.0,Yes,No,No,No,No,Yes,...,1 certainly not,5 certainly yes,1 certainly not,1 certainly not,1 certainly not,17-10-2022,21:55:26,17-10-2022,22:15:38,1212.0
4,4,800028.0,202210.0,9.0,Yes,No,No,No,No,Yes,...,1 certainly not,3.0,2.0,3.0,3.0,03-10-2022,13:31:48,03-10-2022,13:49:36,1068.0
5879,5879,899794.0,202210.0,8.0,No,No,No,Yes,No,No,...,2.0,4.0,4.0,5 certainly yes,5 certainly yes,12-10-2022,19:18:48,12-10-2022,19:50:19,1891.0
5880,5880,899891.0,202210.0,7.0,No,No,Yes,Yes,No,Yes,...,1 certainly not,4.0,4.0,3.0,3.0,06-10-2022,15:01:30,06-10-2022,15:24:11,1361.0
5881,5881,899908.0,202210.0,2.0,No,No,No,Yes,No,Yes,...,2.0,4.0,4.0,3.0,3.0,17-10-2022,13:38:10,17-10-2022,13:52:05,835.0
5882,5882,899923.0,202210.0,7.0,No,No,No,Yes,No,No,...,5 certainly yes,4.0,2.0,2.0,2.0,31-10-2022,14:06:18,31-10-2022,14:16:09,591.0
5883,5883,899928.0,202210.0,8.0,Yes,No,No,No,No,No,...,4.0,3.0,3.0,4.0,4.0,23-10-2022,14:07:49,23-10-2022,14:45:11,2242.0

In [36]:
newdf = dhealth.head(5)
newdf = newdf.append(dhealth.tail(5))
newdf

C:\Users\Mifa\AppData\Local\Temp\ipykernel_12396\2544087693.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  newdf = newdf.append(dhealth.tail(5))

,Unnamed: 0,nomem_encr,ch22o_m,ch22o001,ch22o002,ch22o003,ch22o004,ch22o005,ch22o006,ch22o007,...,ch22o250,ch22o251,ch22o252,ch22o253,ch22o254,ch22o255,ch22o256,ch22o257,ch22o258,ch22o259
0,0,800001.0,202211.0,male,61.0,has paid job,moderate,the same,5.0,3.0,...,2.0,4.0,2.0,4.0,4.0,22-11-2022,17:07:13,22-11-2022,17:31:06,1433.0
1,1,800002.0,202211.0,male,45.0,has paid job,very good,the same,9.0,8.0,...,2.0,4.0,2.0,3.0,3.0,11-11-2022,18:26:22,11-11-2022,18:42:55,993.0
2,2,800009.0,202211.0,male,67.0,has paid job,moderate,somewhat poorer,NaN,7.0,...,certainly not,certainly yes,certainly not,3.0,3.0,28-11-2022,21:09:49,28-11-2022,21:17:26,457.0
3,3,800015.0,202211.0,male,60.0,has paid job,good,the same,8.0,7.0,...,certainly not,certainly yes,certainly yes,certainly yes,certainly not,13-11-2022,14:29:52,13-11-2022,14:35:51,359.0
4,4,800028.0,202211.0,male,72.0,has no paid job,good,the same,NaN,NaN,...,certainly not,certainly yes,3.0,3.0,3.0,07-11-2022,13:46:06,07-11-2022,13:52:03,357.0
5827,5827,899794.0,202211.0,female,64.0,has paid job,good,the same,6.0,6.0,...,2.0,4.0,4.0,4.0,4.0,07-11-2022,21:06:38,07-11-2022,21:16:57,619.0
5828,5828,899891.0,202211.0,female,31.0,has paid job,good,somewhat better,8.0,8.0,...,certainly not,4.0,3.0,3.0,3.0,29-11-2022,09:22:55,29-11-2022,09:31:23,508.0
5829,5829,899908.0,202211.0,male,18.0,has no paid job,very good,somewhat poorer,8.0,7.0,...,3.0,4.0,2.0,3.0,3.0,10-11-2022,03:13:19,10-11-2022,03:19:56,397.0
5830,5830,899923.0,202212.0,male,59.0,has paid job,good,somewhat better,5.0,5.0,...,NaN,NaN,NaN,NaN,NaN,16-12-2022,15:33:02,,,NaN
5831,5831,899928.0,202211.0,female,77.0,has paid job,good,the same,NaN,NaN,...,2.0,4.0,4.0,4.0,4.0,29-11-2022,19:22:09,29-11-2022,19:31:52,583.0